<nav class="navbar navbar-default navbar-static-top" id="home" role="navigation">

  <div class="navbar-header">

    <a href="#inicio">
      <img src="images/marca/FINISH.png" class="imgNav" alt="" width="210" height="60" title="Alpha Engenharia">
    </a>

    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">

      <span class="sr-only">Toggle navigation</span>

      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>

    </button>

  </div>
  <!--- /.navbar-header-->


  <div align="center" class="collapse navbar-collapse pull-right">

    <ul class="nav navbar-nav">

      <li><a href="#inicio">INÍCIO</a></li>

      <li><a href="#company">A EMPRESA</a></li>

      <li><a href="#portfolio">ALGUNS TRABALHOS</a></li>

      <li><a href="#faq">PERGUNTAS FREQUENTES</a></li>

      <li><a href="#contact">CONTATO</a></li>

    </ul>

  </div>

</nav>
